@import '../../styles/variables/colors/colors';
@import '../../styles/variables/mixins/font-style';
@import '../../styles/variables/spacings/spacing';

.headerWrapper{
  max-width: 1200px;
  margin: auto;
  padding: $spacing-3;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}